* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0px;
}

body {
  background: linear-gradient(
    240.64deg,
    #6fcf97 0%,
    rgba(111, 207, 151, 0) 100%
  );
  height: 100vh;
}

body,
.window,
.subwindow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

/* Form */
.window {
  width: 100%;
  height: 80vh;
}
.subwindow {
  width: 100%;
  height: 100%;
}
.form {
  /* border: 2px solid black; */
  font-size: 25px;
  width: 50%;
  position: relative;
  height: 17%;
  overflow: hidden;

  /* background: blue; */
}

.form input[type="text"] {
  background-color: rgba(111, 207, 151, 0);
  font-size: 18px;
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.form label {
  /* color:white; */
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* The blue border-bottom animation */
.form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}
/* what to do when input is in focus */
.form input[type="text"]:focus + .label-name .content-name,
.form input[type="text"]:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 18px;
  color: #5fa8d3;
}

/* what to do when input is in focus */
.form input[type="text"]:focus + .label-name::after,
.form input[type="text"]:valid + .label-name::after {
  transform: translate(0%);
}

/* Results  */
.card {
  margin-top: 20%;
  width: 50%;
  height: 50%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card .card-top {
  /* background-color: black; */
  display: flex;
  background-image: url("../img/placeholderImage.png");

  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.card-top .banner {
  position: absolute;
  /* left:-73%; */
  top: 0;
}

.card .card-circle {
  display: flex;
  justify-content: space-around;
  position: absolute;
  border: 2px solid black;
  width: 25%;
  height: 30%;
  top: 31%;
  left: 36.5%;
  background-image: url("../img/placeholderImage.png");
  background: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.result {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  position: relative;
  height: 20%;
  /* border: 2px solid black; */
}
.result .subs {
  /* margin-top: 40%; */
  align-items: center;
}
/* .result .subs span {
    font-size: 30px;
  } */

.result .subs span .channelTitle {
  width: 100%;
  display: block;
  text-align: center;
  font-size: x-large;
  /* border:2px solid black; */
}

.stats {
  margin-top: 10%;
  /* border:2px solid black; */
  text-align: center;
  font-size: 1.3em;
}

@media all and (min-width:321px) and (max-width: 500px) {
  .form {
    width: 80%;
    height: 15%;
  }
  .card {
    margin-top: 30%;
    height:60%;
    width: 90%;
  }

  .card .card-circle {
    top: 45%;
    width: 100px;
    height: 100px;
  }


  .result{
    margin-top: 18%;
  }

  .stats{
    margin-top:6%;
  }
}
